/* Estilos base */
body {
    background-color: #121212;
    font-family: sans-serif;
    padding: 50px;
    color: white;
    p{
        color: red;
    }
}

.nav-contenedor {
    display: flex;
    /* Activamos Flexbox */
    align-items: center;
    background-color: white;
    width: 700px;
    height: 100px;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 60px;
    /* Resets para ul */
    list-style: none;
    margin: 0;
}

.boton a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.boton {
    flex: 1 1 150px;
    /* CRECER(Grow): 1 | ENCOGER(shrink): 1 | BASE(basis): 150px */
    height: 60px;
    background-color: #74b9ff;
    border-radius: 10px;
    color: #2d3436;
    text-align: center;
    line-height: 60px;
    min-width: 0;
    /* Permite que el botón se encoja sin restricciones */
}

.logo {
    flex: 0 0 60px;
    /* Logo sin  grow ni shrink para que mantenga su tamaño*/
    background-color: #00008b;
    color: white;
    border-radius: 50%;
}